<section id="main">
  <% if @pictures.any? %>
    <% @pictures.each do |picture| %>
      <h2><%= link_to picture.name, picture_path(picture) %></h2>
      <h5><%= link_to "Edit #{picture.name}", edit_picture_path(picture) %></h5>
    <% end %>
  <% else %>
  <p>No pictures have been added yet</p>
  <% end %>
  <br/>
  <a class="addpic" href="pictures/new">Add a picture</a>


</section>
