// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main {
  background-color:#fffafa;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(75,61,61,.2);

  .addpic {
    background-color:#f00;
    padding:8px;
    border-radius:5px;
    color:#fff;
    text-decoration:none;
    
  } //addpic

} //main
